@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container">
    <br />
<div class="text-center">
        <div class="row">
        <div class="col-md-3 d-flex justify-content-center align-items-center">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <a href="@Url.Action("ViewProducts", "Admin")" style="color: #444; text-decoration: none;">
                        <div class="card hovcard" style="width: 15rem; height: 25rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREK4NgXoEadNwzvnI3JGfTvPB5Z1i0ROqwbA&s" class="card-img-top" alt="...">
                        <div class="card-body bg-light">
                            <h5 class="card-title">View Products</h5>
                            <p class="card-text">Access and manage product details, including names, descriptions, and prices.</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <div class="col-md-3 d-flex justify-content-center align-items-center">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <a href="@Url.Action("ViewOrders", "Admin")" style="color: #444; text-decoration: none;">
                        <div class="card hovcard" style="width: 15rem; height: 25rem;">
                            <img src="https://icons.veryicon.com/png/o/miscellaneous/icondian/icon-order-1.png" class="card-img-top" alt="...">
                        <div class="card-body bg-light">
                            <h5 class="card-title">View Orders</h5>
                            <p class="card-text">Monitor and manage all customer orders, including order date and order total.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-3 d-flex justify-content-center align-items-center">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <a href="@Url.Action("ViewFraudOrders", "Admin")" style="color: #444; text-decoration: none;">
                        <div class="card hovcard" style="width: 15rem; height: 25rem;">
                            <img src="https://static.thenounproject.com/png/3110991-200.png" class="card-img-top" alt="...">
                        <div class="card-body bg-light">
                            <h5 class="card-title">View Fraudulent Orders</h5>
                            <p class="card-text">Identify and address potentially fraudulent orders to ensure transaction security.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center align-items-center">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <a href="@Url.Action("ViewCust", "Admin")" style="color: #444; text-decoration: none;">
                        <div class="card hovcard" style="width: 15rem; height: 25rem;">
                            <img src="https://cdn1.iconfinder.com/data/icons/ui-glynh-05-of-5/100/UI_Glyph_09_-09-512.png" class="card-img-top" alt="...">
                        <div class="card-body bg-light">
                            <h5 class="card-title">View Users</h5>
                            <p class="card-text">View and update user profiles, contact information, and their user status.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>
</div>