@model Product

<div class="container">
<div class="text-center">
    <form method="post">
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="ProductId"/>
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Product Name</label>
            <input type="text" class="form-control" asp-for="Name" placeholder="">
        </div>
        <div class="mb-3">
            <label asp-for="ImgLink" class="form-label">Image Url</label>
            <input type="url" class="form-control" asp-for="ImgLink" placeholder="">
        </div>
        <div class="mb-3">
            <label asp-for="Year" class="form-label">Year</label>
            <input type="number" class="form-control" asp-for="Year" placeholder="">
        </div>
        <div class="mb-3">
            <label asp-for="NumParts" class="form-label">Number of Parts</label>
            <input type="number" class="form-control" asp-for="NumParts" placeholder="">
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label">Price</label>
            <input type="text" class="form-control" asp-for="Price" placeholder="">
        </div>
        <div class="mb-3">
            <label asp-for="PrimaryColor" class="form-label">Primary Color</label>
            <input type="text" class="form-control" asp-for="PrimaryColor" placeholder="">
        </div>
        <div class="mb-3">
            <label asp-for="SecondaryColor" class="form-label">Secondary Color</label>
            <input type="text" class="form-control" asp-for="SecondaryColor" placeholder="">
        </div>
        <div class="mb-3">
            <label asp-for="Category1" class="form-label">Category 1</label>
            <input type="text" class="form-control" asp-for="Category1" placeholder="Name">
        </div>
        <div class="mb-3">
            <label asp-for="Category2" class="form-label">Category 2</label>
            <input type="text" class="form-control" asp-for="Category2" placeholder="Name">
        </div>
        <div class="mb-3">
            <label asp-for="Category3" class="form-label">Category 3</label>
            <input type="text" class="form-control" asp-for="Category3" placeholder="Name">
        </div>


        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <textarea class="form-control" asp-for="Description" rows="3"></textarea>
        </div>

        <div class="row">
            <a asp-controller="Admin" asp-action="ViewProducts" class="btn btn-outline-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>


    </form>
    
</div>
</div>