@{
}
@model Intex2024.Models.ViewModels.ProductListViewModel


<div class="container">
<h1>Products</h1>

<div class="row">
    <div class="col-md-9">
        <h1><strong>Products</strong></h1>
    </div>
    <div class="col-md-3" style="text-align: right;">
        <h4><strong><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AdminPortal">Back</a></strong></h4>
    </div>
</div>

<a class="btn btn-primary" asp-controller="Admin" asp-action="AddProduct">Add Product</a>

<div class="card m-1 p-1">
    <div class="row">
        <div class="col">
            <h6><strong>Title</strong></h6>
        </div>
        <div class="col">
            <p><strong>Price</strong></p>
        </div>
        <div class="col">
            <p><strong>Category</strong></p>
        </div>
        <div class="col"></div>
    </div>
</div>


<!-- ... rest of your product listing ... -->
@foreach (Product p in Model.products)
{
    <partial name="AdminCard" model="p"></partial>
}
<div page-model="@Model.PaginationInfo" page-action="ViewProducts" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>
     
</div>