
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>We are reviewing your order!</h2>
            <p>We'll send you a confirmation email after your order is reviewed.</p>
            <br />
            <div class="text-center">
                
            </div>
        </div>
    </div>
</div>