html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.equal-height {
  height: auto; /* This ensures the height is adjusted automatically */
  object-fit: cover; /* This will cover the area without distorting the aspect ratio but might crop the image */
  max-height: 10rem;
}

.image {
    max-width: 600px;
    max-height: 400px;
}