html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.equal-height {
  height: auto; /* This ensures the height is adjusted automatically */
  object-fit: cover; /* This will cover the area without distorting the aspect ratio but might crop the image */
  max-height: 10rem;
}

.smaller-image {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* This maintains the aspect ratio */
}

.row {
    display: flex; /* Use flexbox for horizontal layout */
}

.col {
    flex: 1; /* Make each column take up equal space */
}

h6 {
    margin-top: 0;
    margin-bottom: 5px; /* Add some space below h6 */
    color: #666;
    font-size: 18px;
    font-weight: bold;
}

p {
    margin: 0; /* Reset margin */
    margin-right: 10px; /* Add some space between paragraphs */
    color: #666;
    font-size: 16px;
}

.category {
    color: #777;
}

.card-img-top {
    height: 200px; /* Adjust this value to set the desired height */
    object-fit: cover;
}


/* Wrapper for the entire products section */
.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Individual product card styling */
.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    padding: 15px;
    background-color: #fff;
}

    .product-card:hover {
        background-color: #E8EAEA;
    }

    /* Product image styling */
    .product-card img {
        width: 100%;
        display: block;
    }

/* Product details styling */
.product-details {
    padding: 10px;
    text-align: left;
}

    .product-details h3 {
        margin: 10px 0;
        font-size: 1.4em;
        color: #333;
        font-weight: bold;
    }

    .product-details p {
        font-size: 0.8em;
    }

.price {
    font-weight: bold;
    color: #000;
    font-size: 1.2em;
}

/* Footer and privacy link styling */
footer {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}

    footer a {
        color: #0066cc;
        text-decoration: none;
    }

/* Color selection */
.color-selection {
    margin: 20px 0;
}

    .color-selection label {
        padding-right: 10px;
        font-size: 0.9em;
    }

    .color-selection input[type="checkbox"] {
        margin-right: 5px;
    }

/* Responsive design adjustments */
@media (max-width: 600px) {
    .products-container {
        grid-template-columns: 1fr;
    }
}


.card-body {
    color: #444;
}