html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.equal-height {
  height: auto; /* This ensures the height is adjusted automatically */
  object-fit: cover; /* This will cover the area without distorting the aspect ratio but might crop the image */
  max-height: 10rem;
}

.smaller-image {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* This maintains the aspect ratio */
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background-color: #fff;
}

.row {
    display: flex; /* Use flexbox for horizontal layout */
}

.col {
    flex: 1; /* Make each column take up equal space */
}

h6 {
    margin-top: 0;
    margin-bottom: 5px; /* Add some space below h6 */
    color: #666;
    font-size: 18px;
    font-weight: bold;
}

p {
    margin: 0; /* Reset margin */
    margin-right: 10px; /* Add some space between paragraphs */
    color: #666;
    font-size: 16px;
}

.category {
    color: #777;
}

.card-img-top {
    height: 200px; /* Adjust this value to set the desired height */
    object-fit: cover;
}
