<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Aurora's Brick Kingdom</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Intex2024.styles.css" asp-append-version="true"/>
    <meta name="google-signin-client_id" content="743101861809-j38t3d8cur8nm29hmb2384gtmeigjajk.apps.googleusercontent.com" />
    <link rel="icon" type="image/x-icon" href="~/black.png">
</head>
<body>
<header>

        <nav class="navbar navbar-expand-lg navbar-toggleable-lg border-bottom box-shadow" style="background-color: #444; width: 100%;
            z-index: 100;">
        <div class="container-fluid">
                <style>
                    /* Custom CSS for logo size */
                    .navbar-brand img {
                        max-height: 40px; /* Adjust as needed */
                        margin-right: 10px; /* Add some space between logo and text */
                    }
                </style>   
                <a class="navbar-brand text-white" href="@Url.Action("Index", "Home")#scroll">
                    <img src="~/white.png" alt="Logo">
                    Aurora's Brick Kingdom</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("Index", "Home")#scroll">Home</a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                    </li>
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>

<div>
    <main role="main" class="pb-20">
        @RenderBody()
    </main>
</div>

    <footer class="border-top footer text-muted">
        <div class="container ">
            &copy; 2024 - Intex2024 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>