@model Transaction

<div class="card m-1 p-1">
    <div class="row">
        <div class="col">
            <h6>@Model.TransactionId</h6>
        </div>
        <div class="col">
            <p>@Model.Date</p>
        </div>
        <div class="col">
            <p>$@Model.Amount</p>
        </div>
        <div class="col">
            @if (Model.Fraud == false)
            {
                <p>No</p>
            }
            else
            {
                <p>Yes</p>
            }

        </div>
        <div class="col">
            <a href="@Url.Action("ViewOrderDetails", "Admin", new { id = Model.TransactionId })" class="btn btn-primary">View Details</a>
        </div>
    </div>
</div>
