@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IQueryable<bool>

    <div>
        <a class="btn btn-outline-secondary" asp-controller="Admin" asp-action="ViewOrders" asp-route-fraud="">Normal</a>
    @foreach(bool fraud in Model ?? Enumerable.Empty<bool>())
    {
        <a class="btn btn-outline-secondary" asp-controller="Admin" asp-action="ViewOrders" asp-route-fraud="@fraud" asp-route-pageNum="1">@fraud</a>
    }
    </div>